<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Soom Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="home">
        <h3>Welcome to Soom</h3>
        <button id="create-meeting">Create Meeting</button>
        <button id="join-meeting">Join Meeting</button>
    </div>
</body>
</html>